body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.counter {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.target-setting {
  text-align: center;
  margin-bottom: 15px;
}

.target-setting input {
  width: 60px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
}

.target-setting button {
  padding: 5px 10px;
  cursor: pointer;
}

.progress-circle {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}

.progress-circle svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.progress-circle circle {
  fill: none;
  stroke-width: 5;
}

.background-circle {
  stroke: #e6e6e6;
}

.progress-circle-fill {
  stroke: #4688f1; /* Progress color */
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
}
